# ignore backups and source images
attic/*
notes/*

# ignore Fortran binaries
spectral
*.[ao]
*.out
*.mod

# compiled Python
*.py[cod]

# auxilary TeX files
*.aux
*.log
*.out
*.synctex.gz
*Notes.bib

# generated data
*.fits
*.pdf

# ignore stored data
massive/*
starobinsky/*

